<div class="jumbotron">
  
  <h1>Property Value?</h1>
  <h6>(estimated home value)</h6>
  
  <div id="fields">
    
      <div class="bills-field-wrapper bills-slider-wrapper slider--thick">
        <h5><strong>{{sliderValue | currency}}</strong></h5>
         
          <input [value]="sliderValue" (input)="sliderValue = $event.target.value" data-slider-id="slider1" data-slider-min="50000" data-slider-max="5000000" data-slider-step="10000" data-slider-value="2500000" type="range" min="50000" max="1200000" value="600000" step="10000" class="slider" id="myRange">
          
                <div class="bills-field-wrapper bills-submit-wrapper">
                  <button class="btn btn-lg btn-success" (click)="nextQuestion()">Continue >></button>
                </div>
                <div class="">
                  <input type="hidden" name="universal_leadid" id="leadid_token" value="2BF2E75F-3B80-09B4-7C0D-34598B55E57F">
                </div></div>
    