<div class="jumbotron">
  
    <h1>Do you have a second mortgage?</h1>

    
    
    <div id="fields">
      
        <div class="container">
            <div class="row justify-content-md-center">
              
              <div class="col-md-auto">
                  <button class="btn btn-lg btn-success yes" (click)="nextQuestion()">Yes</button>
              </div>
             
            </div>
            <div class="row justify-content-md-center">
              
                <div class="col-md-auto">
                    <button class="btn btn-lg btn-success no" (click)="nextQuestion()">No</button>
                </div>
               
              </div>
          
  </div>
            
         </div>
                 
                  <div class="">
                    <input type="hidden" name="universal_leadid" id="leadid_token" value="2BF2E75F-3B80-09B4-7C0D-34598B55E57F">
                  </div></div>
      