<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Landing page</title>

</head>
<body>
  <div class="body">
    <div class="logo">
      <img class="img-fluid" src="">
    </div>
    <app-question-one *ngIf="currentQuestion=='QuestionOne'" (messageEvent)="receiveEvent($event)"></app-question-one>
    <app-question-two *ngIf="currentQuestion=='QuestionTwo'" (messageEvent)="receiveEvent($event)"></app-question-two>
    <app-question-three *ngIf="currentQuestion=='QuestionThree'" (messageEvent)="receiveEvent($event)"></app-question-three>
  <footer>
      <div id="footer-disclaimers">
          <p>
              <a href="https://quote.improvemortgage.com/privacypolicy/" id="privacy-policy" class="open-modal">Privacy Policy</a> |
              <a href="https://quote.improvemortgage.com/termsofuse/" id="terms-of-use" class="open-modal">Terms of Use</a> |
              <a href="https://quote.improvemortgage.com/licensing/" id="state-licensing" class="open-modal">Licensing</a>
          </p>
          <p>Bills.com, LLC is a Marketing Lead Generator through the websites bills.com and theeasyloansite.com. Its main office is located at 1875 S. Grant St. #450, San Mateo, CA 94402, Telephone 866-639-8507.</p>
          <p>NMLS ID #: 138464
              <br>NMLS Consumer Access: <a href="http://www.nmlsconsumeraccess.org/Home.aspx/SubSearch?searchText=138464" target="_blank" rel="nofollow">http://www.nmlsconsumeraccess.org</a></p>
          <p>©2018 Bills.com, LLC. All Rights Reserved.</p>
      </div>
      <div id="footer-logos">
          <a class="verisign-logo" target="_blank" href="https://trustsealinfo.verisign.com/splash?form_file=fdf%2Fsplash.fdf&amp;sap=&amp;dn=www.theeasyloansite.com&amp;zoneoff=&amp;lang=en"></a>
          <a class="bbb-logo" target="_blank" href="http://www.bbb.org/greater-san-francisco/business-reviews/financial-services/billscom-in-san-mateo-ca-82987#bbblogo"></a>
      </div>
  
  </footer>
  </div>
  </body>
  </html>
