@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather|Open+Sans);
.body{
    margin: 0 auto;
}
.logo{
    min-height: 120px;
    background-color: #fff;
}
.jumbotron{
    background-color: #D6E3EB;
    box-sizing: border-box;
    display: flow-root;
    padding: 0 20px;
    min-height: 400px;
    position: relative;
}
.jumbotron h1 {
    color :#0d5da9;
    text-align: center;
    font-family: "Helvetica Neue",sans-serif;
    font-weight: 400;
    font-size: 50px;
}
.radio-label-icon-home-refinance{
    background-image: url('/assets/sprite_refinance.png');
    background-repeat: no-repeat;
    background-position: -8px 15px;
    width: 75px;
    height: 116px;
    margin: 3px 43px;
}
.radio-label-icon-home-purchase{
    background-image: url('/assets/sprite_refinance.png');
    background-repeat: no-repeat;
    background-position: -204px -840px;
    width: 75px;
    height: 116px;
    margin: 3px 43px;
}

.jumbotron h2 {
    margin: 25px;
    color :#0d5da9;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-family: "Open Sans";
}
.jumbotron h3{
    font-family: "Open Sans";
    font-size: 14px;
    text-align: center;
    position: relative;
    top: -8px;
    color :#0d5da9;
    font-style: italic;
}
footer{
    margin: 0 25px;
    font-size: 100%;
    color: #6488C1;
    line-height: 1.5em;
    font-family: Arial,Helvetica,Sans-Serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
footer #footer-disclaimers p {
    font-size: 13px;
    line-height: 14px;
}

.radio-icon {
    text-align: center;
    margin: 25px;
}

.radio-icon input {
    display: inline-block;
    max-height: 0;
    max-width: 0;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute
}

.radio-icon label.inline {
    background-color: #fff;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ddecf7), to(#fff));
    background-image: -moz-linear-gradient(#ddecf7, #fff);
    background-image: -ms-linear-gradient(#ddecf7, #fff);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddecf7), color-stop(100%, #fff));
    background-image: -webkit-linear-gradient(#ddecf7, #fff);
    background-image: -o-linear-gradient(#ddecf7, #fff);
    background-image: -ms-linear-gradient(top, #ddecf7 0, #fff 100%);
    background-image: linear-gradient(#ddecf7, #fff);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ddecf7', endColorstr='#ffffff', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddecf7', endColorstr='#ffffff', GradientType=0)";
    -webkit-box-shadow: inset 0 0 7px #999, 2px 2px 7px #999;
    -moz-box-shadow: inset 0 0 7px #999, 2px 2px 7px #999;
    box-shadow: inset 0 0 7px #999, 2px 2px 7px #999;
    border: 3px solid #fff;
    margin-left: 8px;
    margin-bottom: 15px;
    padding-right: 0;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    width: 165px;
    height: 175px;
    box-sizing: border-box
}

.radio-icon label.inline .radio-label-icon {
    display: block
}

.radio-icon label.inline .radio-label-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 4px 0;
    color: #fff;
    font-size: 16px;
    text-shadow: 1px 2px 2px #333
}

.radio-icon label.inline:first-child {
    margin-left: 0
}


.radio-icon label.inline:hover {
    border: 3px solid #f5a144
}

@media screen and (min-width:481px) {
    .radio-icon .radio-label-text-container {
        display: table;
        width: 100%;
        height: 50px;
        padding-top: 0
    }
    .radio-icon .radio-label-text {
        display: table-cell;
        text-align: center;
        line-height: 18px;
        padding: 0!important;
        vertical-align: middle;
        position: relative!important
    }
    .radio-icon.radio-icon--short .radio-label {
        height: 120px
    }
    .radio-icon.radio-icon--short .radio-label-icon {
        margin-top: 0!important
    }
    .radio-icon.radio-icon--short .radio-label-text-container {
        height: auto
    }
}

.no-boxshadow .radio-icon label.inline {
    background-color: #ddecf7
}

@media screen and (max-width:480px) {
    .radio-icon label.inline {
        height: 53px;
        width: 100%;
        margin-bottom: 5px;
        padding-bottom: 0
    }
    .radio-icon label.inline .radio-label-icon {
        width: 46px;
        position: absolute;
        margin: 0;
        padding: 0;
        z-index: 10
    }
    .radio-icon label.inline .radio-label-text-container {
        display: table;
        height: 100%;
        width: 100%
    }
    .radio-icon label.inline .radio-label-text {
        float: none;
        margin: 0;
        padding: 0 10px 0 70px;
        position: relative;
        height: 100%;
        line-height: 18px;
        text-align: left;
        font-size: 20px;
        display: table-cell;
        vertical-align: middle
    }
    .radio-icon label.inline:first-child {
        margin-left: auto
    }
}

.radio-icon label.inline {
    box-shadow: none;
    background-image: none;
    background-color: #fff;
    border-radius: 3px
}

.radio-icon label.inline .radio-label-text {
    background-image: none;
    background-color: transparent;
    text-shadow: none;
    font-family: "Helvetica Neue", sans-serif;
    color: #0460af;
    box-shadow: none
}

.radio-new-icon {
    margin: 0 auto
}

.no-boxshadow .radio-icon label.inline {
    background-color: #fff
}

