<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Landing page</title>

</head>
<body>
  <div class="body">
    <div class="logo">
      <img class="img-fluid" src="">
    </div>
    <div class="jumbotron">
      <h2>No registration, no login required to compare. Completely free!</h2>
      <h1>Choose your loan type</h1>
      <div id="fields">

        <div class="bills-field-wrapper bills-radio-wrapper bills-radio-wrapper-home radio-icon">
        
        
          <label class="inline radio-label" for="home-refinance" id="label-home-home-refinance">
            <input type="radio" name="home" id="home-refinance" value="home-refinance">
            
              <span class="radio-label-icon radio-label-icon-home-refinance"></span>
            
            <span class="radio-label-text-container">
              <span class="radio-label-text">Home Refinance</span>
            </span>
          </label>
        
          <label class="inline radio-label selected" for="home-purchase" id="label-home-home-purchase">
            <input type="radio" name="home" id="home-purchase" value="home-purchase">
            
              <span class="radio-label-icon radio-label-icon-home-purchase"></span>
            
            <span class="radio-label-text-container">
              <span class="radio-label-text">Home Purchase</span>
            </span>
          </label>
        
         
          
        
        </div><div class=""><input type="hidden" name="universal_leadid" id="leadid_token" value="2BF2E75F-3B80-09B4-7C0D-34598B55E57F"></div></div>
      
      <h3>No SSN required. Free quotes! </h3>
    </div>
  <footer>
      <div id="footer-disclaimers">
          <p>
              <a href="https://quote.improvemortgage.com/privacypolicy/" id="privacy-policy" class="open-modal">Privacy Policy</a> |
              <a href="https://quote.improvemortgage.com/termsofuse/" id="terms-of-use" class="open-modal">Terms of Use</a> |
              <a href="https://quote.improvemortgage.com/licensing/" id="state-licensing" class="open-modal">Licensing</a>
          </p>
          <p>Bills.com, LLC is a Marketing Lead Generator through the websites bills.com and theeasyloansite.com. Its main office is located at 1875 S. Grant St. #450, San Mateo, CA 94402, Telephone 866-639-8507.</p>
          <p>NMLS ID #: 138464
              <br>NMLS Consumer Access: <a href="http://www.nmlsconsumeraccess.org/Home.aspx/SubSearch?searchText=138464" target="_blank" rel="nofollow">http://www.nmlsconsumeraccess.org</a></p>
          <p>©2018 Bills.com, LLC. All Rights Reserved.</p>
      </div>
      <div id="footer-logos">
          <a class="verisign-logo" target="_blank" href="https://trustsealinfo.verisign.com/splash?form_file=fdf%2Fsplash.fdf&amp;sap=&amp;dn=www.theeasyloansite.com&amp;zoneoff=&amp;lang=en"></a>
          <a class="bbb-logo" target="_blank" href="http://www.bbb.org/greater-san-francisco/business-reviews/financial-services/billscom-in-san-mateo-ca-82987#bbblogo"></a>
      </div>
  
  </footer>
  </div>
  </body>
  </html>
