<div class="jumbotron">
  
  <h1>How is your credit?</h1>
  <h5>(<strong>ok</strong> to estimate)</h5>
  <div id="fields">

    <div class="bills-field-wrapper bills-radio-wrapper bills-radio-wrapper-credit radio-icon">
    
    
      <label class="inline radio-label" for="credit-ex" id="label-credit-Excellent" 
      (click)="nextQuestion('Excellent')">
        <input type="radio" name="credit" id="credit-ex" value="Excellent">
        
          <span class="radio-label-icon radio-label-icon-credit-ex"></span>
        
        <span class="radio-label-text-container">
          <span class="radio-label-text">Excellent</span>
        </span>
      </label>
    
      <label class="inline radio-label" for="credit-vg" id="label-credit-VeryGood" 
      (click)="nextQuestion('VeryGood')">
        <input type="radio" name="credit" id="credit-vg" value="VeryGood">
        
          <span class="radio-label-icon radio-label-icon-credit-vg"></span>
        
        <span class="radio-label-text-container">
          <span class="radio-label-text">Very Good</span>
        </span>
      </label>
      <label class="inline radio-label" for="credit-g" id="label-credit-Good" 
      (click)="nextQuestion('Good')">
        <input type="radio" name="credit" id="credit-g" value="Good">
        
          <span class="radio-label-icon radio-label-icon-credit-g"></span>
        
        <span class="radio-label-text-container">
          <span class="radio-label-text">Good</span>
        </span>
      </label>
      <label class="inline radio-label" for="credit-f" id="label-credit-Fair" 
      (click)="nextQuestion('Fair')">
        <input type="radio" name="credit" id="credit-f" value="Fair">
        
          <span class="radio-label-icon radio-label-icon-credit-f"></span>
        
        <span class="radio-label-text-container">
          <span class="radio-label-text">Fair</span>
        </span>
      </label>
      <label class="inline radio-label" for="credit-p" id="label-credit-Poor" 
      (click)="nextQuestion('Poor')">
        <input type="radio" name="credit" id="credit-p" value="Poor">
        
          <span class="radio-label-icon radio-label-icon-credit-p"></span>
        
        <span class="radio-label-text-container">
          <span class="radio-label-text">Poor</span>
        </span>
      </label>
      
    
    </div><div class=""><input type="hidden" name="universal_leadid" id="leadid_token" value="2BF2E75F-3B80-09B4-7C0D-34598B55E57F"></div></div>
  
 
</div>