<div class="jumbotron">
  
  
    
    <div id="fields">
      
        <div class="bills-field-wrapper bills-slider-wrapper slider--thick">
            <div class="row justify-content-md-center">
                              
                <div class="col-md-auto ">
                    <h1>Thank you for requesting quotes for your home and investment. Our affiliated lenders will be contacting you shortly. In the meantime, please make sure all the information regarding your income, mortgage statements and credit score are handy.</h1>
           
                </div>
               
              </div>
        
            </div>
                  <div class="">
                    <input type="hidden" name="universal_leadid" id="leadid_token" value="2BF2E75F-3B80-09B4-7C0D-34598B55E57F">
                  </div></div>
      