<div class="jumbotron">
  
    <h1>How recent was your last missed payment (months)? </h1>
    
    <div id="fields">
      
        <div class="bills-field-wrapper bills-slider-wrapper slider--thick">
          <h5><strong>{{sliderValue }}</strong></h5>
           
            <input [value]="sliderValue" (input)="sliderValue = $event.target.value"  type="range" min="1" max="12" value="3" step="1" class="slider" id="myRange">
            
                  <div class="bills-field-wrapper bills-submit-wrapper">
                      <div class="container">
                          <div class="row justify-content-md-center">
                            
                            <div class="col-md-auto">
                                <button class="btn btn-lg btn-success" (click)="nextQuestion()">Continue >></button>
                              </div>
                            
                            </div>
                  </div>
                  </div>
                  <div class="">
                    <input type="hidden" name="universal_leadid" id="leadid_token" value="2BF2E75F-3B80-09B4-7C0D-34598B55E57F">
                  </div></div>
      